h1{
    font-family: 'Dancing Script'
}

#about, #aboutParagraph{
    font-family: sans-serif;
}

#selfie-description{

}

#div-selfie{
    display: inline-block;
    padding: 8px;
    background-color: rgb(24, 122, 122);
}

#div-description{
    margin-right: 250px;
    margin-top: 70px;
    float: right;
    text-align: center;
    /* background-color: red; */
}

#my-name-is{
    text-align: center;
}



body{
    background-color: rgba(145, 153, 152, 0.63);
}
strong{
    color: brown;
    font-size: 1.4em;
}
em{
    color: tomato;
}
.css{
    font-size: 2.4em;
}

.html{
    font-size: 1.8em; 
}

.javaScript{
    
    font-size: 1.2em;
}