h1{
    font-family: 'Dancing Script'
}
#about, #aboutParagraph{
    font-family: sans-serif;
}
body{
    background-color: rgba(145, 153, 152, 0.63);
}
strong{
    color: brown;
    font-size: 1.4em;
}
em{
    color: tomato;
}
.css{
    font-size: 2.4em;
}

.html{
    font-size: 1.8em; 
}

.javaScript{
    
    font-size: 1.2em;
}